// roboto font
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500');
// veritone icons
@import url('https://static.veritone.com/veritone-ui/veritone-icons-10/style.css');
@import url(https://static.veritone.com/engines/assets/v001/style.css);

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

html {
  color: #222;
  font-size: 16px;
  line-height: 1.4;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  min-width: 375px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p {
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.8;
}

// workaround https://github.com/callemall/material-ui/issues/283
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

:global {
  #root {
    height: 100%;
  }
}
